.hover-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: inherit;
  height: inherit;
}

.hover-overlay:hover {
  background-color: sienna;
  opacity: 1;
}
.main-test {
  background-size: cover;
  width: 11rem;
  height: 11rem;
  border-radius: 9999px;
  color: transparent;
}
.main-test:hover,
.main-test:focus,
.main-test:active {
  background-image: none !important;
  background-color: #2e2e2e;
  color: white;
  position: relative;
}
.main-test svg{
  opacity: 0;
}
.main-test:hover svg,
.main-test:focus svg,
.main-test:active svg{
  opacity: 1;
}
/* .main-test::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: none !important;
  background-color: #2e2e2e;
  color: white;
  border-radius: 9999px;
  z-index: 1;
}
.main-test:hover::before,
.main-test:focus::before,
.main-test:active::before {
  background-color: rgba(0, 0, 0, 0.5);
} */
/* .main-test-opposite {
  background-size: cover;
  top: 0;
  width: 11rem;
  height: 11rem;
  border-radius: 9999px;
  color: transparent;
} */
/* {
  background-image: none !important;
  background-color: #2e2e2e;
  color: white;
  top: 0;
  right: 0;
  position: relative;
 padding-top: 0em;
  background-size: cover;
  width: 11rem;
  height: 11rem;
  border-radius: 9999px;
} */
/* .main-test-opposite:hover,
.main-test-opposite:active,
 .main-test-opposite:focus
{
  background-image: none !important;
  background-color: #2e2e2e;
  color: white;
  top: 0;
  right: 0;
  position: relative;
 padding-top: 0em;
  background-size: cover;
  width: 11rem;
  height: 11rem;
  border-radius: 9999px;
} */
/* #content:last-child{
display:none;
} */
/* .main-test-opposite:last-child{
  display: none;
} */
@media  (max-width: 479px) {
  .main-test {
    height: 8rem;
    width: 8rem;
    font-weight: 500;
    overflow: hidden;
  }
}

@media  (min-width:480px ) and (max-width: 640px) {
  .main-test {
    height: 9rem;
    width: 9rem;
    font-weight: 500;
    overflow: hidden;
  }
}

@media (min-width:641px ) and (max-width: 768px) {
  .main-test {
    height: 10rem;
    width:10rem;
    font-weight: 500;
    overflow: hidden;
  }
}