.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('/src/assests/waves.svg');
}

@media (min-width:641px ) {
    .spacer {
        aspect-ratio: 960/100;
    }
    .layer1{
        background-image: url('/src/assests/waves-lg.svg');
    }
    
}